<!DOCTYPE html>
<html ng-app="restaurants">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/Styles/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/Styles/Style.css"/>
	<link rel="stylesheet" type="text/css" href="/Styles/font-awesome.min.css">
	<script type="text/javascript" src="/Scripts/angular.min.js"></script>
	<script type="text/javascript" src="/Scripts/angular-fusioncharts.min.js"></script>
	<script type="text/javascript" src="/Scripts/fusioncharts.js"></script>
	<script type="text/javascript" src="/Scripts/app.js"></script>
</head>
<body ng-controller = "HomeController as home">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
	      		<a class="navbar-brand" href="#">Restaurants</a>
	    	</div>

      		<form ng-hide="home.viewGraphs" class="navbar-form navbar-left">
				<div class="form-group">
					<select class="form-control" ng-options="option.display for option in dropDownMenu.availableOptions track by option.id" ng-model="dropDownMenu.selectedOption" ng-click="home.clearSearch()"></select>
				</div>

		        <div class="form-group">
		          	<input type="text" class="form-control" placeholder="Search by name..." ng-model="home.nameFilter.name" ng-show="dropDownMenu.selectedOption.id == 0" />
			      	<input type="text" class="form-control" placeholder="Search by zip code..." ng-model="home.nameFilter.zipCode" ng-show="dropDownMenu.selectedOption.id == 1" ng-click="home.clearSearch()"/>
					<input type="text" class="form-control" placeholder="Search by neighborhood..." ng-model="home.nameFilter.neighborhood" ng-show="dropDownMenu.selectedOption.id == 2"/>
					<input type="text" class="form-control" placeholder="Search by council district..." ng-model="home.nameFilter.councilDistrict" ng-show="dropDownMenu.selectedOption.id == 3"/>
					<input type="text" class="form-control" placeholder="Search by police district..." ng-model="home.nameFilter.policeDistrict" ng-show="dropDownMenu.selectedOption.id == 4"/>
					<input type="text" class="form-control" placeholder="Search by primary location address..." ng-model="home.nameFilter.primaryLocAddress" ng-show="dropDownMenu.selectedOption.id == 5"/>
		        </div>
      		</form>
	  </div>
	</nav>

	<div class="container">
		<div class="jumbotron"></div>
		
		<div class="row">
			<div class="col-md-12">
				<button id="graphsButton" class="form-control" ng-click="home.viewGraphs = !home.viewGraphs">{{home.viewGraphs ? 'View Table': 'View Graphs'}}</button>
				<br/>
			</div>
		</div>
<!-- 			Start Table View -->
		<section ng-hide="home.viewGraphs">
			<div ng-controller="TableController as table" class="row">
				<div class="col-md-12">
					<table id="restaurantTable" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th ng-repeat="option in table.orderByVar.availableOptions track by $index">
									<button class="form-control" ng-class="{selected: $index == table.orderByVar.selectedOption.id}" ng-click="table.myOrderBy($index)">
										<i class="fa" ng-class="{'fa-arrow-down': !option.ascending, 'fa-arrow-up': option.ascending}" aria-hidden="true"></i>
									</button>
								</th>
							<tr>
							<tr>
								<th ng-repeat="header in table.headers">{{header}}</th>
							<tr>
						</thead>
						<tr ng-repeat="restaurant in table.restaurants| filter: home.nameFilter | orderBy:(table.orderByVar.selectedOption.ascending?'+'+table.orderByVar.selectedOption.display:'-'+table.orderByVar.selectedOption.display)">
							<td ng-repeat="attribute in restaurant">
								{{attribute}}
							</td>
						</tr>
					</table>
				</div>
			</div>
		</section>
<!-- 			End Table View -->
		<section ng-show="home.viewGraphs">
			<div ng-controller="GraphsController as graphs" class="row">
				
				<div ng-repeat="option in graphs.graphOptions.availableOptions track by $index" class="col-md-2">
					<button class="form-control" ng-class="{selected: $index == graphs.graphOptions.selectedOption.id}" ng-click="graphs.loadGraph($index)">{{option.display}}</button>
				</div>
				<br/>
				<br/>
				<div ng-hide="graphs.showLandingPage">
					<fusioncharts
						width="600"
						height="400"
	   					type="pie3d"
	   					dataSource="{{graphs.formattedData}}" >
					</fusioncharts>

					<form>
						<div class="form-group col-md-4">
							<label>First select parameter to search by</label>
							<select class="form-control" 
								ng-options="option.display disable when option.id == '4' || option.id == graphs.graphOptions.selectedOption.id for option in graphs.graphOptions.availableOptions track by option.id" 
								ng-model="graphs.graphFilterCol" 
								ng-click="">
							</select>
						</div>
						<div class="form-group col-md-4">
							<label>Next, enter search parameter </label>
							<input class="form-control" type="text" ng-model="graphs.graphFilter">
						</div>
						<div class="form-group col-md-4">
							<label>Then, search!</label>
							<button id="graphSearchButton" class="form-control" ng-click="graphs.calculateData(graphs.graphFilterCol.id, graphs.graphFilter)">Search</button>
						</div>
					</form>

				</div>
			
				<div ng-show="graphs.showLandingPage">
					<h2>Restaurant Statistics</h2>
					<p>On this portion of the applicaton, you can view statistics about where restaurants are in the Baltimore, show by percentage on pie graphs using Fusion Charts.
					Neighborhood statistics show the percent of the total number of restaurants in each neighborhood. Same for zip code, council district, and police district.</p>
				</div>


			</div>	
		</section>
		
	</div>

	

	
</body>
</html>
